<main class="main">
  <header-layout />
  <!-- <div>{{title.name + " is " +  title.age}}</div>
  <button [disabled]="isDisable">Click</button> -->
  <!-- <img src="assets/images/cart.png" alt="Logo {{contentImage}}"> -->
  <!-- <h1>Click là 1 event</h1>
  <button (click)="handleClickMe()" >{{nameBtn}}</button>
  <div>Message: {{clickMeMessage}}</div> -->
  <!-- <input type="text" (keyup)="updateField()"> -->

  <!-- <input type="text" [(ngModel)]="bindingMessage">
  <div>Look: {{bindingMessage}}</div> -->
  <div class="wrapper-cart">
    <h1>Shopping Cart</h1>

    <div class="group-cart">
      <div class="header-cart">
        <div class="col-1">Image</div>
        <div class="col-2">Name</div>
        <div class="col-3">Price</div>
        <div class="col-4">Action</div>
      </div>
      <div class="body-cart">
        <div class="row-cart">
          <div class="col-1">
            <img width="50px" height="auto" src="assets/images/product1.jpg" alt="DemoSachImg">
          </div>
          <div class="col-2">Cuốn theo chiều gió</div>
          <div class="col-3">150000 ₫</div>
          <div class="col-4">
            <div class="btn-main">
              <img width="20px" height="auto" src="assets/images/bin.png" alt="DeleteBtn">
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <footer-layout />

</main>
<router-outlet />